export(patchwork.CG.plot,
		CG_Ka_check,
		CG_KaCh,
		CG_KaChCN,
		CG_karyotype,
		patchwork.CG.copynumbers,
		#subfunctions_copynumbers
		weightedMedian,
		weightedMean,
		is.autosome,
		deChrom_ucsc,
		chrom_ucsc)